<div class="mt-5">
  <h2>Nosotros</h2>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore consectetur placeat natus maxime. Autem, optio atque omnis eligendi, veritatis excepturi libero blanditiis vitae molestias maxime consectetur deleniti natus neque magni.</p>

  <ul class="list-group">
      <li class="list-group-item" *ngFor="let item of equipo, index as i">
        <h6>Nombre: {{item.nombre }}</h6>
        <h6>Especialidad: {{ item.especialidad }}</h6>
        <a [routerLink]="['/equipo',i]">Leer más...</a>
      </li>
  </ul>

</div>